@import 'mixin';

.ViewBox
{
    width: 750px;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    // background-color: red;
    animation: fadeIn 0.5s;
    .Phone2Viewbtn
    {
        $Phone2ViewbtnHeight:80px;
        width: 50%;
        height:$Phone2ViewbtnHeight;
        line-height: $Phone2ViewbtnHeight;
        margin: 0 auto;
        border-radius: 50px;
        background-color: $ThemeBlue;
        text-align: center;
        font-size: 28px;
        color: #ffffff;
    }
    .fixVote
    {
        position: fixed;
        top: 300px;
        right: 30px;
        
        .baseBtn_vote
        {
            width: 130px;
            height: 130px;
            text-align: center;
            background-color: #ff7069;
            border-radius: 100%;
            box-shadow: #999999 0 0 50px;
            position: relative;
            
            .Votedetial
            {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                line-height: unset;

                span
                {
                    color: #ffffff;
                    font-size: 26px;
                }
                #vote_num
                {
                    font-size: 21px;
                }
            }
        }
        .voted
        {
            width: 130px;
            height: 130px;
            text-align: center;
            background-color: #999999;
            border-radius: 100%;
            box-shadow: #999999 0 0 50px;
            position: relative;
            
            color: #ffffff;

            .Votedetial
            {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                line-height: unset;

                span
                {
                    color: #ffffff;
                    font-size: 26px;
                }
                #vote_num
                {
                    font-size: 21px;
                }
            }
        }
    }
}