@import 'mixin';
.Login
{
    width: 90%;
    height: 900px;
    margin: 100px auto 0px auto;
    // background-color: #333333;
    animation: fadeIn 1s forwards;

    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
}
.back
{
    $backHeight:60px;
    width: 250px;
    height: $backHeight;
    line-height: $backHeight;
    // background-color: green;
    text-align: center;
    background: rgba($color: #000000, $alpha: 0.1);
    border-radius: 50px;
    margin: 30px 0px;
    color: rgba($color: #000000, $alpha: 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    img{
        margin-right: 10px;
    }
}
.InputBakground
{
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    box-shadow:0px 0px 20px rgba($color: #999, $alpha: .5);
    .InputBox
    {
        width: 100%;
        height: 600px;
        margin: 50px auto;
        background-color: #ffffff;
        

        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .loginbanner{
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        div
        {
            display: -webkit-flex; /* Safari */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:space-around;
            flex-grow: 1;
            height: 100px;
            position: relative;
            .InputName
            {
                display: block;
                width: 10%;
                // flex-grow: 1;
                border-bottom:  unset;
                font-weight: bold;
                div
                {
                    font-size: 25px;
                    width: auto;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
            .inputItem
            {
                flex-grow: 1;
                flex-shrink: 0;
                border-bottom:  unset;
                position: relative;
                input
                {
                    height: 80px;
                    width: 50%;
                    font-size: 25px;
                    padding: 0px 20px 0px 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-bottom: 1px #999 solid;
                    transform:translateY(-50%) translateX(-50%);
                    text-align: left;
                    text-indent: 30px;
                }
            }
            .Login2Act
            {
                flex-grow: unset;
                width: 20%;
                height: 70px;
                background-color: #2868F0;
                box-shadow:0px 0px 10px #999;
                border-radius: 80px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                color: #ffffff;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: unset;
            }
        }
    }
}