@import 'main';

.ActBox
{
    width: 80%;
    height: auto;
    margin: 20px auto;
    img
    {
        box-shadow: 0px 0px 0px #333333;
        width: 90%;
        display: block;
        margin: 0 auto;
        border: 1px #999999 solid;
        transition: box-shadow 0.5s;
        &:hover
        {
            box-shadow: 0px 0px 20px #333333;
        }
    }
}